<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#send_message').click(function () {
                var socket = new WebSocket("ws://" + window.location.host + "/student/liveList");
                socket.onopen = function () {
                    console.log('WebSocket open');//成功连接上Websocket
                    socket.send($('#message').val());//发送数据到服务端
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印服务端返回的数据
                    $('#messagecontainer').prepend('<p>' + e.data + '</p>');
                };
            });
        });
    </script>
</head>
<body>

    <input type="text" id="message" value="Open websocket!" />
    <button type="button" id="send_message">发送 message</button>
    <h1>Received Messages</h1>
    <div id="messagecontainer"></div>

</body>
</html>